@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --accent-color: #8672FF;
    --base-color: white;
    --text-color: rgb(129, 134, 52);
    --input-color: rgb(221, 223, 223);
}
/* Sve margine na 0 */
*{
    margin: 0;
    padding: 0;
}
html{
    font-family:'Poppins','Segoe UI',sans-serif;
    font-size: 12pt;
    color: var(--text-color);
    text-align: center;
}
body{
    min-height: 100vh;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: right;
    overflow: hidden;
}
.wrapper{
    /* OVO nam resava kad je nesto 100vh i kad je van screen */
    box-sizing: border-box;
    background-color: var(--base-color);
    height: 100vh;
    width: max(40%,600px);
    padding: 10px;
    border-radius: 0 100px 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* opacity: 0.5; */
}

h1{
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}

form{
    width: min(400px,100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
form > div{
    width: 100%;
    display: flex;
    justify-content: center;
}

form label {
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--accent-color);
    color: var(--base-color);
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}

form input{
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border-radius:  0 10px 10px 0;
    border-left: none;
    border: 2px solid var(--input-color);
    background-color: var(--input-color);
    transition: 150ms ease;
}
/* Ako ne stavis border i napravis hover tranziciju nastane cudno
menjanje boja ali ako stavis border istu boju kao backgr i na hover
promenis samo border boju izgleda smooth */
form input:hover{
    border: 2px solid var(--accent-color);
}

form input:focus{
    outline: none;
    border-color: var(--text-color);
}
/* > ovo uzima children od div koji ima input focus i njegov label */
div:has(input:focus) > label {
    background-color: var(--text-color);
}
form input::placeholder{
    color: var(--text-color);
}
form button{
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: .85em 4em;
    background-color: var(--accent-color);
    color: var(--base-color);
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 150ms ease;
}
form button:hover{
    background-color: var(--text-color);
}
form button:focus{
    outline: none;
    background-color: var(--text-color);
}
a{
    text-decoration: none;
    color: var(--accent-color);
}
a:hover{
    text-decoration: underline;
}

/* Posto ovo za sada nije responsive dodajemo MEDIA */

@media(max-width:1100px){
    .wrapper{
        width: min(600px,100%);
        border-radius: 0%;
    }
}
/* Incorrect classu koristimo ako je nesto lose i samo je pozovemo kad nam treba
na primer sve radi dobro i user pogresi unos samo pozovemo inccorect classu
ali i kad je pozovemo hover efekat radi preko crvene boje i izgleda ruzno i cudno
zbog toga POSTOJI Selector Specificity!!!
Hover pobedjuje jer ima 0 1 2 dok je ovo 0 1 1 (incorrect), znaci moramo da pojacamo
selector na vise od hover gde koristimo form div.inccorect (spojeno) input
sada posto je specifier jaci crvena boja radi.*/
/* Sto vise specificiras stvar to je veci specificity broj */

/* sada je 0 1 3 | dok je hover 0 1 2 */
form div.incorrect label{ 
    background-color: #f06272;
}
form div.incorrect input{
    border-color: #f06272;
    
}

