/* Ovo drzi 2 elementa napred i nazad i korntrolise mouse hover akciju*/
.thecard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

/* ovo flipuje */
.thecard:hover {
    transform: rotateY(180deg);
}

/* Ovo je default sta ce se prikazuje */
.thefront {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #16895b;
    color: #333;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
}

/* reverse side i prikaz kad neko hoveruje */
.theback {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #ebeaea;
    color: #333;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    transform: rotateY(180deg);
}

.p-text-front {
    font-size: 10px;
}

.p-text-back {
    font-size: 20px;
}