body {
    font-family: 'Times New Roman', Times, serif;
      
      padding-left: 0;
      padding-right: 0;
      margin: 0;
      text-align: center;
      color: black;
    }
    header,footer{
      padding: 1rem 2rem 4rem;
    }
    .background-container{
      height: 100vh;
      overflow: hidden;
      background: linear-gradient(
          217deg,
          rgba(255, 69, 0, 0.8), /* Warm Red-Orange */
          rgba(255, 69, 0, 0) 70.71%
        ),
        linear-gradient(
          127deg,
          rgba(255, 215, 0, 0.8), /* Gold */
          rgba(255, 215, 0, 0) 70.71%
        ),
        linear-gradient(
          336deg,
          rgba(255, 140, 0, 0.8), /* Amber/Golden Orange */
          rgba(255, 140, 0, 0) 70.71%
        );
    }
   